<?xml version="1.0" encoding="utf-8"?>
<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cnx.dictionarytool"
    android:installLocation="auto"
    android:versionCode="104"
    android:versionName="5.4.9" >

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:resizeableActivity="true"
        android:icon="@drawable/icon"
        android:banner="@drawable/banner_tv"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseThemeDark" >
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIUa0cU0ZHbBpYXJqm0vVUP5IAjr5D4iUeX7UwiQ" />

        <activity
            android:name="com.cnx.dictionarytool.library.activities.DictionaryManagerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            &lt;!&ndash; Direct installation of dictionaries &ndash;&gt;
            &lt;!&ndash; When opening from downloads, no proper file name is sent &ndash;&gt;
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content"
                      android:host="*"
                      android:pathPattern=".*"
                      android:mimeType="application/zip" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file"
                      android:host="*"
                      android:pathPattern=".*"
                      android:mimeType="application/zip" />
            &lt;!&ndash; Handling cases with no mimeType (maybe not necessary?)
                 works for files not in downloads &ndash;&gt;
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content"
                      android:host="*"
                      android:pathPattern=".*\\.quickdic\\.v006\\.zip" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file"
                      android:host="*"
                      android:pathPattern=".*\\.quickdic\\.v006\\.zip" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content"
                      android:host="*"
                      android:pathPattern=".*\\.quickdic\\.v007\\.zip" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file"
                      android:host="*"
                      android:pathPattern=".*\\.quickdic\\.v007\\.zip" />
            </intent-filter>

            &lt;!&ndash;
        	<meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        	        		    	<intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
            &ndash;&gt;
        </activity>
        <activity
            android:name="com.cnx.dictionarytool.library.activities.DictionaryActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName="com.cnx.dictionarytool.library.activities.DictionaryActivity" >

            &lt;!&ndash; Parent activity meta-data to support API level 7+ &ndash;&gt;
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cnx.dictionarytool.library.activities.DictionaryActivity" />

            &lt;!&ndash;
           @author Dominik Köppl
     			Added two different intents to catch simple and advanced queries from other external applications.
            &ndash;&gt;
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.hughes.action.ACTION_SEARCH_DICT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            &lt;!&ndash; Allow direct opening of dictionary files &ndash;&gt;
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content"
                      android:host="*"
                      android:mimeType="application/octet-stream"
                      android:pathPattern=".*\\.quickdic" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file"
                      android:host="*"
                      android:mimeType="application/octet-stream"
                      android:pathPattern=".*\\.quickdic" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content"
                      android:host="*"
                      android:pathPattern=".*\\.quickdic" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file"
                      android:host="*"
                      android:pathPattern=".*\\.quickdic" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cnx.dictionarytool.library.activities.AboutActivity"
            android:parentActivityName="com.cnx.dictionarytool.library.activities.DictionaryActivity" >

            &lt;!&ndash; Parent activity meta-data to support API level 7+ &ndash;&gt;
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cnx.dictionarytool.library.activities.DictionaryActivity" />
        </activity>
        <activity
            android:name="com.cnx.dictionarytool.library.activities.HtmlDisplayActivity"
            android:parentActivityName="com.cnx.dictionarytool.library.activities.DictionaryActivity" >

            &lt;!&ndash; Parent activity meta-data to support API level 7+ &ndash;&gt;
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cnx.dictionarytool.library.activities.DictionaryActivity" />
        </activity>
        <activity
            android:name="com.cnx.dictionarytool.library.activities.PreferenceActivity"
            android:parentActivityName="com.cnx.dictionarytool.library.activities.DictionaryActivity" >

            &lt;!&ndash; Parent activity meta-data to support API level 7+ &ndash;&gt;
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cnx.dictionarytool.library.activities.DictionaryActivity" />
        </activity>
    </application>

</manifest>-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cnx.dictionarytool"/>